.aside_wrapper {
    background-color: rgb(255, 255, 255);
    box-shadow: rgb(3 0 71 / 9%) 0px 1px 3px;
    border-radius: 8px;
    color: rgb(43, 52, 69);
    padding: 1.5rem 0px;
}
.aside_item_wrapper {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    color: rgb(233, 69, 96);
    position: relative;
    transition: all 150ms ease-in-out 0s;
}
.aside_item_wrapper_inner {
    display: flex;
    flex-direction: row;
    -webkit-box-align: center;
    align-items: center;
    box-shadow: none;
    cursor: unset;
}
.aside_item_wrapper_outer {
    cursor: pointer;
}
.aside_item_wrapper_outer.aside_item_wrapper_active {
    border-left: 4px solid rgb(233, 69, 96);
}
.aside_item_wrapper_outer:hover {
    color: rgb(233, 69, 96);
    background: rgb(255, 225, 230)
}