.container {
    max-width: 1200px;
    margin: 2rem auto;
    font-size: 14px;
}
.wrapper {
    display: flex;
    flex-wrap: wrap;
    height: unset;
    margin: -0.75rem;
}
.body_left_container {
    width: 25%;
    padding: 0.75rem;
}
.body_right_container {
    width: 75%;
    padding: 0.75rem;
}
.body_right_head_container {
    box-shadow: none;
    cursor: unset;
    margin-bottom: 1.5rem;
    margin-top: -1rem;
}
.body_right_head_wrapper {
    display: flex;
    flex-direction: row;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    margin-top: 1rem;
    box-shadow: none;
    cursor: unset;
}
.body_right_title_wrapper {
    display: flex;
    flex-direction: row;
    -webkit-box-align: center;
    align-items: center;
}
.body_right_title {
    font-size: 25px;
    line-height: 1;
    margin-bottom: 0px;
    margin-top: 0px;
    margin-left: 12px;
    font-weight: bold;
}
.body_right_button {
    display: flex;
    width: unset;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    outline: none;
    border: none;
    cursor: pointer;
    padding: 11px 2rem;
    font-weight: 600;
    color: rgb(233, 69, 96);
    background: rgb(255, 225, 230);
    transition: all 150ms ease-in-out 0s;
    line-height: 1;
    height: 40px;
    font-size: 14px;
    border-radius: 5px;
}