
.formheader_head_container {
    box-shadow: none;
    cursor: unset;
    margin-bottom: 1.5rem;
    margin-top: -1rem;
}
.formheader_head_wrapper {
    display: flex;
    flex-direction: row;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    margin-top: 1rem;
    box-shadow: none;
    cursor: unset;
}
.formheader_title_wrapper {
    display: flex;
    flex-direction: row;
    -webkit-box-align: center;
    align-items: center;
}
.formheader_title {
    font-size: 25px;
    line-height: 1;
    margin-bottom: 0px;
    margin-top: 0px;
    margin-left: 12px;
    font-weight: bold;
}
.formheader_button {
    display: flex;
    width: unset;
    height: 40px;
}