.container {
    position: relative;
    /*height: 60px;*/
    background: rgb(255, 255, 255);
    box-shadow: rgb(43 52 69 / 10%) 0px 4px 16px;
}
.bar {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    display: flex;
    height: 100%;
}
.button_wrapper {
    position: relative;
}
.button {
    display: flex;
    width: unset;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    outline: none;
    cursor: pointer;
    padding: 11px 1.5rem;
    font-weight: 600;
    color: rgb(43, 52, 69);
    background: rgb(246, 249, 252);
    transition: all 150ms ease-in-out 0s;
    line-height: 1;
    border: none;
    height: 40px;
    font-size: 14px;
    border-radius: 5px;
}

.nav_top_container {
    display: flex;
    flex-direction: row;
    box-shadow: none;
    cursor: unset;
}
.nav_left_container {
    position: absolute;
    padding: 0.5rem 0px;
    left: 0px;
    right: auto;
    top: calc(100% + 0.7rem);
    border-radius: 4px;
    transform: scaleY(1);
    transform-origin: center top;
    background-color: rgb(255, 255, 255);
    box-shadow: rgb(43 52 69 / 10%) 0px 4px 16px;
    transition: all 250ms ease-in-out 0s;
    z-index: 98;
}

.nav_top_item_wrapper:hover > .nav_top_wrapper_outermost {
    display: block;
}
.nav_top_item_wrapper:hover > .nav_top_wrapper_outermost:not(.nav_top_wrapper_root) {
    left: 100%;
    margin-left: 0.05rem;
    top: 0%;
}
.nav_left_wrapper_inner:hover > .nav_left_wrapper_outermost {
    display: block;
}
.nav_top_wrapper_outermost {
    display: none;
    position: absolute;
    left: 0px;
    top: 100%;
    z-index: 5;
    box-shadow: none;
    cursor: unset;
}
.nav_left_wrapper_outermost {
    display: none;
    position: absolute;
    left: 100%;
    right: auto;
    top: 0px;
    z-index: 99;
}
.nav_top_wrapper_root > .nav_top_wrapper_outer {
    margin-top: 0.05rem;
}
.nav_top_wrapper_outer {
    background-color: rgb(255, 255, 255);
    box-shadow: rgb(3 0 71 / 9%) 0px 8px 45px;
    border-radius: 8px;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    min-width: 230px;
}
.nav_left_wrapper_outer {
    background-color: rgb(255, 255, 255);
    box-shadow: rgb(43 52 69 / 10%) 0px 4px 16px;
    border-radius: 8px;
    margin-left: 1rem;
}

.nav_top_wrapper_inner {
    position: relative;
}
.nav_left_wrapper_inner {
    position: relative
}
.nav_top_wrapper_inner:hover > .nav_top_item_wrapper {
    color: rgb(233, 69, 96);
    background: rgb(255, 225, 230)
}
.nav_left_wrapper_inner:hover > .nav_left_item_wrapper {
    color: rgb(233, 69, 96);
    background: rgb(255, 225, 230)
}

.nav_top_item_wrapper {
    cursor: pointer;
    /*word-break: break-all;*/
    color: rgb(55, 63, 80);
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}
.nav_left_item_wrapper {
    cursor: pointer;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    padding: 0px 1rem;
    height: 40px;
    min-width: 278px;
    white-space: pre;
    transition: all 250ms ease-in-out 0s;
}

.nav_top_item {
    font-size: 14px;
    padding: 1rem;
    cursor: pointer;
}
.nav_left_item {
    padding-left: 0.75rem;
    -webkit-box-flex: 1;
    flex-grow: 1;
}




.nav_left_regular_wrapper_outer {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}



.nav_left_mega_container_large {
    min-width: 760px;
}
.nav_left_mega_container_med {
    min-width: 560px;
}

.nav_left_mega_container {
    display: flex;
    flex-direction: row;
    padding: 0.875rem 1.25rem;
}
.nav_left_mega_wrapper_outermost {
    box-shadow: none;
    cursor: unset;
    flex: 1 1 0px;
}
.nav_left_mega_wrapper_outer {
    display: flex;
    flex-wrap: wrap;
    height: unset;
    margin: -0.5rem;
}
.nav_left_mega_wrapper_inner {
    padding: 0.5rem;
    width: 25%;
}
.nav_left_mega_item {
    color: inherit;
    font-weight: 600;
    display: block;
    padding: 0.5rem 0px;
}
.nav_left_mega_item_child {
    font-weight: 400;
}